################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
/.vs/GPM_Monitor/v16/Solution.VC.db-wal
/.vs/GPM_Monitor/v16/Solution.VC.db-shm
/.vs/GPM_Monitor/v16/Solution.VC.db
/.vs/GPM_Monitor/v16/ipch/e544675b8590c7f6.ipch
/.vs/GPM_Monitor/v16/ipch/b0684e24d3330e96.ipch
/.vs/GPM_Monitor/v16/ipch/AutoPCH/8acbb9cfef6c9f33/GPM_UPDATELITE.ipch
/.vs/GPM_Monitor/v16/Browse.VC.opendb
/.vs/GPM_Monitor/v16/Browse.VC.db-wal
/.vs/GPM_Monitor/v16/Browse.VC.db-shm
/.vs/GPM_Monitor/v16/Browse.VC.db
/.vs/GPM_Monitor/v16/.suo
/.vs/GPM_Monitor/v15/Solution.VC.db
/.vs/GPM_Monitor/v15/Browse.VC.db
/.vs/GPM_Monitor/v15/.suo
/GPM_UpdateLite/x64/Debug/vc142.idb
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/link.write.1.tlog
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/link.read.1.tlog
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/link.command.1.tlog
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/GPM_UpdateLite.lastbuildstate
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/CL.write.1.tlog
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/CL.read.1.tlog
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.tlog/CL.command.1.tlog
/GPM_UpdateLite/x64/Debug/gpm_updatelite.obj.enc
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.obj
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.log
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.ilk
/GPM_UpdateLite/x64/Debug/GPM_UpdateLite.exe.recipe
/GPM_UpdateLite/GPM_UpdateLite.vcxproj.user
/GPM_TokenServer/obj/Debug/GPM_TokenServer.TokenServer.resources
/GPM_TokenServer/obj/Debug/GPM_TokenServer.Settings.resources
/GPM_TokenServer/obj/Debug/GPM_TokenServer.ProjectInstaller.resources
/GPM_TokenServer/obj/Debug/GPM_TokenServer.exe
/GPM_TokenServer/obj/Debug/GPM_TokenServer.csproj.GenerateResource.cache
/GPM_TokenServer/obj/Debug/GPM_TokenServer.csproj.FileListAbsolute.txt
/GPM_TokenServer/obj/Debug/GPM_TokenServer.csproj.CoreCompileInputs.cache
/GPM_TokenServer/obj/Debug/GPM_TokenServer.csproj.CopyComplete
/GPM_TokenServer/obj/Debug/GPM_TokenServer.csproj.AssemblyReference.cache
/GPM_TokenServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GPM_TokenServer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/GPM_TokenServer/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/GPM_TokenServer/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/GPM_TokenServer/bin/Debug/M2Mqtt.Net.dll
/GPM_TokenServer/bin/Debug/GPM_TokenServer.InstallLog
/GPM_TokenServer/bin/Debug/GPM_TokenServer.exe.config
/GPM_Monitor.exe
/GPM_Monitor/GPM_Monitor.aps
/GPM_Monitor/Debug/vc142.idb
/GPM_Monitor/Debug/vc141.idb
/GPM_Monitor/Debug/stdafx.obj
/GPM_Monitor/Debug/GPM_MonitorThreads.obj
/GPM_Monitor/Debug/GPM_MonitorDlg.obj
/GPM_Monitor/Debug/GPM_Monitor.vcxproj.FileListAbsolute.txt
/GPM_Monitor/Debug/GPM_Monitor.tlog/rc.write.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/rc.read.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/rc.command.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/link.write.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/link.read.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/link.command.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/GPM_Monitor.lastbuildstate
/GPM_Monitor/Debug/GPM_Monitor.tlog/custombuild.write.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/custombuild.read.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/custombuild.command.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/CL.write.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/CL.read.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.tlog/CL.command.1.tlog
/GPM_Monitor/Debug/GPM_Monitor.res
/GPM_Monitor/Debug/GPM_Monitor.pch
/GPM_Monitor/Debug/GPM_Monitor.obj
/GPM_Monitor/Debug/GPM_Monitor.log
/GPM_Monitor/Debug/GPM_Monitor.ilk
/GPM_Monitor/Debug/GPM_Monitor.exe.recipe
/GPM_Monitor/Debug/GPM_Monitor.Build.CppClean.log
/GPM_Monitor/Debug/GPM_AHRS.obj
/GIT Personal Access Token.txt
/GPM_Vibration/GPM_Vibration.aps
/GPM_Vibration/Debug/vc142.idb
/GPM_Vibration/Debug/stdafx.obj
/GPM_Vibration/Debug/GPM_VibrationThreads.obj
/GPM_Vibration/Debug/GPM_VibrationDlg.obj
/GPM_Vibration/Debug/GPM_Vibration.tlog/rc.write.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/rc.read.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/rc.command.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/link.write.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/link.read.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/link.command.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/GPM_Vibration.lastbuildstate
/GPM_Vibration/Debug/GPM_Vibration.tlog/CustomBuild.write.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/CustomBuild.read.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/CustomBuild.command.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/CL.write.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/CL.read.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.tlog/CL.command.1.tlog
/GPM_Vibration/Debug/GPM_Vibration.res
/GPM_Vibration/Debug/GPM_Vibration.pch
/GPM_Vibration/Debug/GPM_Vibration.obj
/GPM_Vibration/Debug/GPM_Vibration.log
/GPM_Vibration/Debug/GPM_Vibration.ilk
/GPM_Vibration/Debug/GPM_Vibration.exe.recipe
/x64/Debug/GPM_UpdateLite.exe
/packages/Newtonsoft.Json.12.0.3/packageIcon.png
/packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg
/packages/Newtonsoft.Json.12.0.3/LICENSE.md
/packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.3/.signature.p7s
/packages/M2Mqtt.4.3.0.0/M2Mqtt.4.3.0.0.nupkg
/packages/M2Mqtt.4.3.0.0/lib/wpa81/M2Mqtt.WinRT.pri
/packages/M2Mqtt.4.3.0.0/lib/wpa81/M2Mqtt.WinRT.dll
/packages/M2Mqtt.4.3.0.0/lib/win81/M2Mqtt.WinRT.pri
/packages/M2Mqtt.4.3.0.0/lib/win81/M2Mqtt.WinRT.dll
/packages/M2Mqtt.4.3.0.0/lib/netmf43/M2Mqtt.NetMf.dll
/packages/M2Mqtt.4.3.0.0/lib/netmf43/le/M2Mqtt.NetMf.pe
/packages/M2Mqtt.4.3.0.0/lib/netmf43/le/M2Mqtt.NetMf.pdbx
/packages/M2Mqtt.4.3.0.0/lib/netmf43/be/M2Mqtt.NetMf.pe
/packages/M2Mqtt.4.3.0.0/lib/netmf43/be/M2Mqtt.NetMf.pdbx
/packages/M2Mqtt.4.3.0.0/lib/netmf42/M2Mqtt.NetMf.dll
/packages/M2Mqtt.4.3.0.0/lib/netmf42/le/M2Mqtt.NetMf.pe
/packages/M2Mqtt.4.3.0.0/lib/netmf42/le/M2Mqtt.NetMf.pdbx
/packages/M2Mqtt.4.3.0.0/lib/netmf42/be/M2Mqtt.NetMf.pe
/packages/M2Mqtt.4.3.0.0/lib/netmf42/be/M2Mqtt.NetMf.pdbx
/packages/M2Mqtt.4.3.0.0/lib/net45/M2Mqtt.Net.dll
/packages/M2Mqtt.4.3.0.0/lib/net39-cf/M2Mqtt.NetCf39.dll
/packages/M2Mqtt.4.3.0.0/lib/net39-cf/DeployFileList.txt
/packages/M2Mqtt.4.3.0.0/.signature.p7s
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/NuGetIcon.png
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/LICENSE
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/netstandard2.0/Google.Apis.Pubsub.v1.xml
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/netstandard2.0/Google.Apis.Pubsub.v1.dll
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/netstandard1.3/Google.Apis.Pubsub.v1.xml
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/netstandard1.3/Google.Apis.Pubsub.v1.dll
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/netstandard1.0/Google.Apis.Pubsub.v1.xml
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/netstandard1.0/Google.Apis.Pubsub.v1.dll
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/net45/Google.Apis.Pubsub.v1.xml
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/net45/Google.Apis.Pubsub.v1.dll
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/net40/Google.Apis.Pubsub.v1.xml
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/lib/net40/Google.Apis.Pubsub.v1.dll
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/Google.Apis.Pubsub.v1.1.54.0.2427.nupkg
/packages/Google.Apis.Pubsub.v1.1.54.0.2427/.signature.p7s
/packages/Google.Apis.Core.1.54.0/NuGetIcon.png
/packages/Google.Apis.Core.1.54.0/LICENSE
/packages/Google.Apis.Core.1.54.0/lib/netstandard2.0/Google.Apis.Core.xml
/packages/Google.Apis.Core.1.54.0/lib/netstandard2.0/Google.Apis.Core.dll
/packages/Google.Apis.Core.1.54.0/lib/netstandard1.3/Google.Apis.Core.xml
/packages/Google.Apis.Core.1.54.0/lib/netstandard1.3/Google.Apis.Core.dll
/packages/Google.Apis.Core.1.54.0/lib/net45/Google.Apis.Core.xml
/packages/Google.Apis.Core.1.54.0/lib/net45/Google.Apis.Core.dll
/packages/Google.Apis.Core.1.54.0/Google.Apis.Core.1.54.0.nupkg
/packages/Google.Apis.Core.1.54.0/.signature.p7s
/packages/Google.Apis.Auth.1.54.0/NuGetIcon.png
/packages/Google.Apis.Auth.1.54.0/LICENSE
/packages/Google.Apis.Auth.1.54.0/lib/netstandard2.0/Google.Apis.Auth.xml
/packages/Google.Apis.Auth.1.54.0/lib/netstandard2.0/Google.Apis.Auth.PlatformServices.dll
/packages/Google.Apis.Auth.1.54.0/lib/netstandard2.0/Google.Apis.Auth.dll
/packages/Google.Apis.Auth.1.54.0/lib/netstandard1.3/Google.Apis.Auth.xml
/packages/Google.Apis.Auth.1.54.0/lib/netstandard1.3/Google.Apis.Auth.PlatformServices.dll
/packages/Google.Apis.Auth.1.54.0/lib/netstandard1.3/Google.Apis.Auth.dll
/packages/Google.Apis.Auth.1.54.0/lib/net461/Google.Apis.Auth.xml
/packages/Google.Apis.Auth.1.54.0/lib/net461/Google.Apis.Auth.PlatformServices.dll
/packages/Google.Apis.Auth.1.54.0/lib/net461/Google.Apis.Auth.dll
/packages/Google.Apis.Auth.1.54.0/lib/net45/Google.Apis.Auth.xml
/packages/Google.Apis.Auth.1.54.0/lib/net45/Google.Apis.Auth.PlatformServices.dll
/packages/Google.Apis.Auth.1.54.0/lib/net45/Google.Apis.Auth.dll
/packages/Google.Apis.Auth.1.54.0/Google.Apis.Auth.1.54.0.nupkg
/packages/Google.Apis.Auth.1.54.0/.signature.p7s
/packages/Google.Apis.1.54.0/NuGetIcon.png
/packages/Google.Apis.1.54.0/LICENSE
/packages/Google.Apis.1.54.0/lib/netstandard2.0/Google.Apis.xml
/packages/Google.Apis.1.54.0/lib/netstandard2.0/Google.Apis.dll
/packages/Google.Apis.1.54.0/lib/netstandard1.3/Google.Apis.xml
/packages/Google.Apis.1.54.0/lib/netstandard1.3/Google.Apis.dll
/packages/Google.Apis.1.54.0/lib/net45/Google.Apis.xml
/packages/Google.Apis.1.54.0/lib/net45/Google.Apis.PlatformServices.dll
/packages/Google.Apis.1.54.0/lib/net45/Google.Apis.dll
/packages/Google.Apis.1.54.0/Google.Apis.1.54.0.nupkg
/packages/Google.Apis.1.54.0/.signature.p7s
/GPM_Vibration/post_data.bat
